.banner {
    color: white;
    object-fit: contain;
    width: 100dvw;
    height: 65dvh;
    position: absolute;
    top: 0; 
    left: 0;
    display: block;
  }
  
  .banner_contents {
    margin-left: 1rem;
    position: relative;
    top: calc(50dvh - 200px);
    height: 190px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
  }

  .banner_contents *{
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .banner_title {
    font-size: 3rem;
    font-weight: 800px;
    padding: 0.3rem 1rem 0.3rem;
    display: inline-block;
  }
  
  .banner_description {
    width: auto;
    line-height: 1.3;
    font-size: 1.2rem;
    max-width: 500px;
    height: auto;
    max-height: 80px;
    padding: 5px 1rem 5px;
    text-align: justify;
  }

  .banner_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 1rem;
  }
  
  .banner_button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px
  }
  
  a{
    text-decoration: none; 
    color: white
  }

  .banner_button img{
    height: 0.8rem;
    width: auto;
  }

  .banner_button:hover {
    background-color: gray;
    transition: all 0.2s;
  }
  .play_button:hover {
    background-color: red
  }
  
  .dialog button{
	width: auto;
	height: auto;
	padding: 5px 20px 5px 40px;
	margin-right: 10px;
	font-size: 1rem;
	border: 0;
	color: white;
	border-radius: 3px;
	transition: all 0.2s;
	cursor: pointer;
	position: relative;
}
.dialog button img{
	width: 16px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}
.dialog button:hover{
	transform: scale(1.1)
}
.dialog #dialog-button-play{
	background-color: red
}
.dialog #dialog-button-add{
	background-color: black;
	border: 0.5px solid #7a7a7a;
} 
@media only screen and (max-width: 600px) {
  .banner_contents{
    margin-left: 0rem;
  }
  .banner_title{
    font-size: 2rem;
  }
  .banner_description{
    max-width: 400px;
    font-size: 1rems;
  }
  .banner_button{
    font-size: .8rem;
  }
}
@media only screen and (max-width: 450px) {
  .banner_description{
    max-width: 350px;
  }
}
@media only screen and (max-width: 400px) {
  .banner_description{
    max-width: 300px;
  }
}